
.products{
    grid-column: leftbar-start/rightbar-end ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //border: solid 2px red;
   min-width: 400px;  


    &-title{
        font-size: 10rem;
        font-weight: 100;
        color: gray;
        margin: 15rem 0rem 5rem 0rem;
        text-align: center;
    }
    &-svg{

        fill: gray;
        margin-bottom: 15rem;

    }
}

.product{
    margin: 5rem 0rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.154);
    display: flex;
   justify-content: space-around;
   align-items: center;
 
   @media only screen and (max-width: 1000px){ 
   

}
   @media only screen and (max-width: 900px){ 
    width: 100%;
    height: 50rem; 
    flex-direction: column;
    

   }
   
   &-svg{
    
    cursor: pointer;
    
   }

svg{
    fill: red;
    height: 3.5rem;
    width: 3.5rem;
    @media only screen and (max-width: 1000px){  

        height: 5rem;
    width: 5rem;
    
       }
    @media only screen and (max-width: 800px){  

        height: 5rem;
         width: 5rem;
    
       }
}

    img{
        display: block;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        @media only screen and (min-width: $desktop){
            width: 25rem;
            height: 25rem;
                
            }
            @media only screen and (max-width: 1000px){ 
   
                width: 30rem;
                height: 30rem;
            }
            @media only screen and (max-width: 800px){
                width: 23rem;
                height: 18rem;
                    
                }

    }

    p{
        display: inline-block;
        font-size: 1.5rem;
        //text-align: center;
        @media only screen and (max-width: 1000px){  
            font-size: 3rem;
                       text-align: center;
                        }
       
} 
}