.kooky {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
     margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 30rem;
  
    
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 55555;
    

   
     
     
    

    &-close {
      margin-top: 2rem;
      
      font-size: 2rem;
      color: #333;
      cursor: pointer;
      
      background: none;
    }

    
    h1 {
      margin-top: 2rem;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    
    p {
      font-size: 1.8rem;
      
    }
  }

  
  
  /* -------------------------- */
  /* CLASSES TO MAKE MODAL WORK */
  .hidden {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 44444;
  }
  


.close{
  position: absolute;
  margin-left: 17rem;
  font-size: 2rem;
  
}
  

  .form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    padding: 2rem;
    z-index: 90000;
    border-radius: 1rem;
    height: auto;
    background-color: rgb(255, 255, 255);
   
.button{
  margin-left: 40%;
  display: inline-block;
}
    h1{
      margin-left: 40%;
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }


      p{
          margin-top: 4rem;
          margin-left: 33%;
      font-size: 1.5rem;
      cursor: pointer;
        }
    &__group {
        &:not(:last-child){
          margin-bottom: 2rem;
        }
        margin-left: 5rem ;
        width: 40rem;

        &-p{
          font-size: 1.2rem;
          font-weight: 600;
          margin-left: 55%;
          margin-bottom: 19rem;
          cursor: pointer;
          &:hover{

            color: rgb(50, 119, 48);
          }

        }
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2rem;
        background-color: rgb(237, 233, 233);
        border: 1px solid black;
        width: 90%;
        display: block;
        transition: all .3s;

        // @include respond(tab-port) {
        //     width: 100%;
        // }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, .1);
            border: 1.5px solid rgb(35, 189, 79);
        }

        &:focus:invalid {
            border: 1.5px solid rgb(192, 49, 49);
        }

        // &::-webkit-input-placeholder {
        //     color:rgb(202, 9, 9);
        // }
    }


    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    

  }
    

    

    






  