.principal-banner{
    grid-column: full-start/full-end;
    

   background-image: url(../img/images-17.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;


    @media only screen and (min-width: 1800px){ height: 47rem; }
    @media only screen and (max-width: 1200px){
    //  grid-column: leftbar-start/rightbar-end;
    grid-column: full-start/full-end ;
     height: 32rem;
     
    } 
    @media only screen and (max-width: 1000px){  
     height: 40rem;
        
        grid-column: leftbar-start/rightbar-end ;

    }
    @media only screen and (max-width: 600px){  
        height: 20rem;
     background-size: cover;
     width: 100%;
    }
        
}